<div class="page-header">
<h1></h1>
</div>

<div class='row'> 
	<div class="col-md-4"></div>
	<div class="col-md-4 well shadow-z-4">
	<%= form_for @grade do |f| %>
		<%= render 'field_form', f:f, submit_string:"Edit grade" %>
	<% end %>
	</div>
	<div class="col-md-4"></div>

</div>