<div class="row">

<div class="page-header">
   <h1>  Grades
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#new_grade">
      New grade
    </button>
   </h1>
</div>


   <div class="col-md-12">
    <% if @grades.any? %>

		<table
            data-toggle="table"
            data-sort-name="grade"
            data-sort-order="desc"
            data-url="grades.json" >
		<thead>
		    <tr>
		        <th data-field="date" data-sortable="true">Date</th>
		        <th data-field="grade"  data-sortable="true">Grade</th>
		        <th data-field="description">Description</th>
            <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>

		    </tr>
		</thead>
		</table>


    <% else %>
    <h3>No grades</h3>
    <% end %>

   </div>
</div> <!-- /rows -->




<!-- Modal -->
<div class="modal fade" id="new_grade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="new_grade_label">Add new grade</h4>
      </div>
      <div class="modal-body">
        <%= form_for @grade do |f| %>
      		<%= render 'field_form', f:f, submit_string:"Add grade" %>
      	<% end %>
      </div>

    </div>
  </div>
</div>
