<div class="row">

<div class="page-header">
   <h1>  Grades
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#new_grade">
      New grade
    </button>
   </h1>
</div>


   <div class="col-md-12">
    <% if @grades.any? %>

		<table id="grades_table" class="table table-striped" 
            data-toggle="table"
            data-sort-name="grade"
            data-sort-order="desc"
            data-unique-id="id"
            data-url="grades.json" >
		<thead>
		    <tr>
		        <th data-field="date"  data-sortable="true">Date</th>
		        <th data-field="grade"  data-sortable="true">Grade</th>
            <th data-field="credit"  data-sortable="true">Credit</th>
		        <th data-field="description">Description</th>
            <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>

		    </tr>
		</thead>
      <!-- I dati verrano riempiti utilizzando bootstrap-table tramite una richiesta ad un file json -->
		</table>


    <% else %>
    <h1>There aren't grades</h1>
    <% end %>

   </div>
</div> <!-- /rows -->

<div class="row">


  <div class="col-md-12"> <h2> Weighted Average:<%= @avg %></h2>
    <canvas id="chart_grades"></canvas>
  </div>


</div>


<!-- Modal -->
<div class="modal fade" id="new_grade" tabindex="-1" role="dialog" aria-labelledby="new_grade_label">
  <div class="modal-dialog " role="document">
    <div class="modal-content well">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="new_grade_label">Add new grade</h4>
      </div>
      <div class="modal-body">
        <%= form_for @grade do |f| %>
      		<%= render 'field_form', f:f, submit_string:"Add grade" %>
      	<% end %>
        <br />
      </div>

    </div>
  </div>
</div>

<% content_for :extra_js do %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript">

  function create_chart(data_grades) {
    var labels = [], data=[];
    data_grades.forEach(function(d) {
      labels.push(d.date);
      data.push(parseFloat(d.grade));
    });
     var ctx = $("#chart_grades")
     var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: labels, 
              datasets: [{  
                label: "Grades Chart",
                fill: false,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointRadius: 5,
                data: data
              }]
          }
      }); 
  }

  $.ajax({url:"grades.json",dataType:"json"})
  .fail(function(){alert("Fail")})
  .done(function(data){
    if(data.length != 0)
       create_chart(data);
    console.log(data);
  });

</script>
<% end %>
