<div class="row">

<div class="page-header">
   <h1>  Subjects
    <a href="{{ url_for('main.action_subject') }}" class="btn btn-primary pull-right" > {{ _('Add Subject') }} </a>
   </h1>
</div>


  <div class="col-md-4"></div>

  <div class="col-md-4">
  <% if @subjects.any? %>
      <%= @subjects.each do |subject|  %>
      	<div class="well-lg panel panel-default shadow-z-4">
        	<div class="panel-body">
            <h4>
         		<%= subject.subject %>
         		<div class='btn-group pull-right'>
         			<a class='btn btn-primary'  href="{{ url_for('main.action_subject',   id=subject.id) }}" data-toggle="modal" > <i class='glyphicon glyphicon-pencil'></i> </a>
            	<a class='btn btn-primary'  href="{{ url_for('main.delete_subject', id=subject.id) }}" > <i class='glyphicon glyphicon-trash'></i></a>
            	</div>
            </h4>
        	</div>
      	</div>
       <% end %>
  <%else %>
    <h3>Nessuna materia presente</h3>
  <% end %>


</div> <!-- /col-md-4 -->

  <div class="col-md-4"></div>
</div> <!-- /rows -->
