
<div class="page-header">
   <h1> <i class="material-icons md-48 vertical-align-middle padding-bottom-3">assignment</i>   Homeworks
     <button type="button" class="btn btn-raised btn-primary btn-lg pull-right" data-toggle="modal" data-target="#new_homework">
       New homeworks
     </button>
   </h1>
</div>

<div class="row">

   <div class="col-md-12">
    <% if @homeworks.any? %>
	<table id="homeworks_table" class="table table-striped"
        data-toggle="table"
        data-sort-name="priority"
        data-sort-order="desc"
        data-unique-id="id"
        data-row-style="rowStyle"
        data-url="homeworks.json" >
	<thead>
	    <tr>
        <th data-field="deadline"  data-sortable="true">Date</th>
	    <th data-field="description"  data-sortable="true">Homework</th>
        <th data-field="subject.name">Subject</th>
        <th data-field="priority"  data-sortable="true" data-formatter="priorityFormatter">Priority</th>
        <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
	    </tr>
	</thead>
 		 <!-- I dati verrano riempiti utilizzando bootstrap-table tramite una richiesta ad un file json -->
	</table>
    <% else %>
    <h3>No homeworks</h3>
    <% end %>

   </div>
</div> <!-- /rows -->


<!-- Modal -->
<div class="modal fade" id="new_homework" tabindex="-1" role="dialog" aria-labelledby="new_homework_label">
  <div class="modal-dialog " role="document">
    <div class="modal-content well">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="new_homework_label">Add new homework</h4>
      </div>
      <div class="modal-body">
        <%= form_for @homework do |f| %>
      		<%= render 'field_form', f:f, submit_string:"Add homework" %>
      	<% end %>
        <br />
      </div>

    </div>
  </div>
</div>



<% content_for :extra_js do %>
<%= javascript_include_tag 'homeworks' %>
<% end %>
